* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  font-size: 62.5%;

  --color-timer-text: #F8F8FC;
  --color-timer-text-select: #121214;
}


[data-theme="foco"] {
  --main-bg-color: radial-gradient(rgb(239, 68, 68), rgb(153, 27, 27));
}

[data-theme="descanso-curto"] {
  --main-bg-color: radial-gradient(rgb(16, 185, 129), rgb(101, 163, 13));
}

[data-theme="descanso-longo"] {
  --main-bg-color: radial-gradient(rgb(56, 189, 248), rgb(59, 130, 246));
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  background: var(--main-bg-color);
}

body {
  height: 100vh;
  align-items: center;
}

body,
.time-mode-list,
.time-countdown,
.time-controls,
.time-controls-playAndPause {
  display: flex;
  justify-content: center;
}

.main__app {
  padding: 0 2rem;
  max-width: 62.4rem;
  width: 100%;
}

.app__title {
  margin-bottom: 6.4rem;
  font-weight: 700;
  color: var(--color-timer-text);
}

.app__title-image {
  text-align: center;
}

.app__title-text {
  height: 8rem;
  font-size: clamp(2.4rem, 2vw, 3.2rem);
  text-align: center;
}

.app__title-text strong {
  color: rgb(201, 194, 193);
}

.background-container-timer {
  margin: 0 auto;
  max-width: 52rem;
  width: 100%;
  height: 32rem;
  padding: 2rem;
  border-radius: 8px;
  background: var(--main-bg-color, rgba(20, 68, 128, 0.30));
}

.time-mode {
  margin-bottom: 3.8rem;
  height: 5rem;
}

.time-mode-list {
  column-gap: 2rem;
}

.time-mode-list-item button {
  height: 5rem;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  color: var(--color-timer-text);
  padding: 1.2rem;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;

}

.time-mode-list-item button.select {
  color: var(--color-timer-text-select);
  border: 2px solid var(--color-timer-text-select);
  background: var(--main-bg-color, rgba(20, 68, 128, 0.30));
}

.time-countdown {
  color: #F8F8FC;
  align-items: center;
  font-weight: 700;
  font-size: 9.6rem;
  margin-bottom: 3.8rem;
}

.time-controls {
  text-align: acenter;
  place-content: center;
  gap: 0 1rem;
}

.time-controls,
.time-controls-playAndPause {
  align-items: center;
}

.time-controls-playAndPause {
  column-gap: .5rem;
}

.time-controls button {
  font-size: 1.6rem;
  padding: .5rem 1.6rem;
  font-weight: 700;
  color: var(--color-timer-text);
  border-radius: 8px;
}

.time-controls button:hover {
  background-color: #f8f8fc2f;
  transition: 1s;
}

.hidden {
  display: none;
}
